<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-gray-50">
    <%- include('header.ejs') %>
    <div class="flex gap-1 mx-10 mt-6 bg-gray-50">
        
        <a href="/elections" class="text-red-800 hover:text-red-600">All Elections</a>
        <span>></span>
    </div>
    
        
            <span class="text-2xl font-light ">Create a new election</span>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-red-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <!-- <div class="mt-4 bg-white shadow-md rounded-lg text-left">
                <div class="h-2 bg-red-400 rounded-t-md"></div>
                <form action="/elections" method="post" class="px-8 py-6">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label for="electionName" class="block mt-3 font-semibold">What is your election's name?</label>
                    <input id="electionName" name="electionName" type="text" placeholder="Election name" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" required>
                    <button type="submit" class="mt-6 w-full bg-black text-white py-2 px-6 rounded-md hover:bg-black ">Create</button>
                </form>
            </div> -->
            <section class="text-gray-600 body-font">
                <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
                  <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
                    <h1 class="title-font font-medium text-3xl text-gray-900">Create New Election From Here</h1>
                    <p class="leading-relaxed mt-4">Creating Election Is Must In order To Add Questions</p>
                  </div>
        
                  <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                    <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Create New Election</h2>
                    <form action="/elections" method="post" class="px-8 py-6">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <div class="relative mb-4">
                            <label for="electionName" class="leading-7 text-sm text-gray-600">Enter Election Name</label>
                            <input type="text" id="electionName" name="electionName" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                          </div>
                          <div class="relative mb-4">
                            <label for="urlString" class="leading-7 text-sm text-gray-600">Enter URL</label>
                            <input type="text" id="urlString" name="urlString" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                          </div>
                          
                    
                
                    <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Create New Election</button>
                    <p class="text-xs text-gray-500 mt-3">Online Voting Is Just Better Right?</p>
                
                  </div>
                </form>
                </div>
            
              </section>
        
    
</body>
</html>